@tailwind base;
@layer base {}
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');html,

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.graph {
  width: 50rem;
}

