@tailwind base;
@layer base {
  img {
    @apply inline;
  },
  ol {
    @apply list-decimal list-inside;
  },
  table{
    @apply border-2 border-black;
    border-collapse: separate;
  },
  tr{
    @apply border-2 border-black
  }
  td{
    @apply border-2 border-black
  }
}

@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');html,

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.graph {
  width: 50rem;
}

